services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    hostname: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./config/conf.d:/etc/nginx/conf.d:ro
      - ../data/nginx/logs:/var/log/nginx
    networks:
      - jun-bank-network

networks:
  jun-bank-network:
    name: jun-bank-network
    driver: bridge